/*****APP*****/
#app {
  font-family: "Helvetica", "Arial", sans-serif;
}

/*****NAVBAR*****/
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#navbar_links {
  display: flex;
}
#navbar_links_container {
  width: 70%;
}
#navbar_logo {
}
.navbar_link {
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10%;
  color: lightgray;
}
.navbar_link:hover {
  color: lightgreen !important;
}
.navbar_link:visited {
  color: lightgray;
}
.router-link-exact-active {
  color: lightgreen !important;
}
#navbar_register {
  color: lightgreen;
  border: 0.5px lightgreen solid;
  border-radius: 5px;
}
#navbar_register:hover {
  background-color: lightgreen;
  color: white !important ;
}

/*****HOME*****/
#home_hr {
  border-top: 2px solid lightgreen;
}
.home_stocks_container {
  display: flex;
}
.home_bottom_section {
  display: flex;
}
.home_articles_container {
  flex: 8;
  columns: 2;
  border-right: 1px solid lightgray;
}
.home_watchlist_container {
  flex: 2;
  align-items: center;
}
.home_watchlist_title {
  text-decoration: underline;
  text-align: center;
}
.home_article {
  align-self: center;
  display: flex;
  width: 90%;
  height: 20%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 3%;
  border-radius: 80px;
  color: lightgreen;
  background-color: lightgreen;
  padding: 40px;
  text-decoration: none;
}
.home_article:hover {
  filter: brightness(110%);
}

/*****STOCKS*****/
.stocks_body {
  display: flex;
}
.stocks_stockslist_container {
  flex: 8;
  border-right: 1px solid lightgray;
}
.stocks_watchlist_container {
  flex: 2;
  align-items: center;
}
.stocks_watchlist_title {
  text-decoration: underline;
  text-align: center;
}

/*****ARTICLE*****/
.article {
  display: flex;
  width: 90%;
  height: 150px;
  margin: auto;
  margin-bottom: 5%;
  text-decoration: none;
}
.article:hover {
  filter: brightness(110%);
}
.article_image_container {
  flex: 1 0 0%;
}
.article_image {
  width: 100%;
  height: 100%;
  display: block;
}
.article_text_container {
  flex: 1.5 0 0%;
  color: gray;
}
.article_title {
  color: black;
  text-decoration: underline;
  text-align: center;
}

/*****STOCK*****/
.stock {
  display: flex;
  width: 15%;
  height: 50px;
  color: black;
  text-decoration: none;
  border-right: 0.5px solid lightgray;
  margin-right: 5px;
  margin-left: 5px;
}
.stock:hover {
  filter: brightness(110%);
}
.stock_image_container {
  flex: 1 0 0%;
}
.stock_image {
  width: 100%;
  height: 100%;
  display: block;
}
.stock_text_container {
  display: flex;
  flex-direction: column;
  flex: 1.5 0 0%;
  color: gray;
}
.stock_title {
  color: black;
  text-decoration: underline;
  text-align: center;
  margin: auto;
}
.stock_info {
  margin: auto;
}

/*****WATCHITEM*****/
.watchitem {
  display: flex;
  width: 80%;
  height: 50px;
  color: black;
  text-decoration: none;
  margin: auto;
  margin-top: 10%;
}
.watchitem:hover {
  filter: brightness(110%);
}
.watchitem_image_container {
  flex: 1 0 0%;
}
.watchitem_image {
  width: 100%;
  height: 100%;
  display: block;
}
.watchitem_text_container {
  display: flex;
  flex-direction: column;
  flex: 1.5 0 0%;
  color: gray;
}
.watchitem_title {
  color: black;
  text-decoration: underline;
  text-align: center;
  margin: auto;
}
.watchitem_info {
  margin: auto;
}

/*****STOCKLIST*****/
.stocklist {
  display: flex;
  width: 95%;
  height: 50px;
  color: black;
  text-decoration: none;
  margin: auto;
  background-color: lightgreen;
}
.stocklist:nth-child(even) {
  background-color: white;
}
.stocklist:hover {
  filter: brightness(110%);
}
.stocklist_image_container {
  flex: 1 0 0%;
}
.stocklist_image {
  margin: 10%;
  width: 80%;
  height: 80%;
  display: block;
}
.stocklist_text_container {
  display: flex;
  flex: 15 0 0%;
  color: gray;
}
.stocklist_title {
  color: black;
  text-decoration: underline;
  text-align: center;
  margin: auto;
}
.stocklist_price {
  margin: auto;
}
.stocklist_change {
  margin: auto;
}
